*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #82868ffa;
    color: white;
}

img {
    width: 100%;
}

.contenedor{
    margin: 0 auto;
    max-width: 900px;
}

 
.titulo {
    text-align: center;
    padding-top: 1rem;
    color: white;
    font-size: 2.5rem;
}

 
#contenedor_libros {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}
 

.card {
    margin-bottom: 2rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    overflow: hidden;
}


.imagen_libro {
    height: 200px;
    object-fit: cover;
    object-position: center;
}


.btn-favorito {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}


.btn-favorito:hover {
    background-color: rgba(188, 188, 224, 0.548);
} 


/* Favoritos */
h2 {
    color: rgb(12, 11, 11);
    text-align: center;
    margin-bottom: 0.5rem;
}

.listado_favoritos{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

#carrito{
    width: 50%; 
    background-color: black; 
    height: 100vh;
 }

 